* {
    margin: 0px;
    padding: 0px;
}

/* head section styles */

.head-section {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100vh;
    justify-content: space-around;
    gap: -50px;
}

.first-text {
    color: #272727;
    font-family: Lato;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 20px;
}

.head-text {
    margin-top: 150px;
    margin-left: 180px;
}

.head-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.primary-button {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    background-color: #E55473;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
}

.head-photo {
    height: 577px;
    padding: 40px 60px 40px 40px;
}

.head-img {
    margin-right: 40px;
}

/* first optional styles */

.title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
    margin-top: 55px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 35px;
}

.featured-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
}

.first {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 80px;
    padding-left: 75px;
    padding-right: 75px;
    width: 200px;
    height: 300px;
}

.second {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 90px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 40px;
    width: 200px;
    height: 250px;
}

.third {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    width: 200px;
    height: 330px;
}

.img-caption {
    text-align: center;
    margin-top: 10px;
    color: #272727;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Second optional styles */

.featured-support {
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    height: 300px;
}

.second-featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.second-featured-des {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.second-featured-img {
    padding-left: 85px;
    padding-right: 85px;
    margin-bottom: 10px;
}

/* Hot deal styles */

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
}

.hot-deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-deal-text {
    padding-left: 30px;
    text-align: center;
}

.hot-title {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

#hot-red {
    color: #E55473;
}

.hot-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.hot-button {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    background-color: #E55473;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
}

.hot-deal-img {
    padding-top: 60px;
    padding-bottom: 80px;
    padding-right: 40px;
    margin-left: -100px;
}

/* Instagram styles */

.insta-container{
    margin-left: 80px;
    margin-right: 80px;
}

.insta-img-container {
    display: flex;
    justify-content: space-around;
    gap: -60px;
}

.insta-img {
    width: 240px;
    height: 300px;
}

/* Latest Deals section */

.latest-deal-container{
    background: url("");
}
